.main {
    width: 100%;
    padding: 0 2vw;
}

.input {
    width: 100%;
}

.form > form > div > div {
    margin: 1vh 0;
    margin-left: 0.5vw;
    font-size: 1rem;
    font-weight: 400;
}

.multi-input {
    display: inline-block;
    align-items: baseline;
    padding: 0.7vh 0;
}

.multi-select-value {
    display: flex;
    align-items: center;
}

::ng-deep .p-multiselect-clearable {
    width: 100%;
}

::ng-deep .p-dropdown {
    width: 100%;
}