<div class="main">
    <div class="title">
        <h2 *ngIf="!isUpdate">Thêm mới</h2>
        <h2 *ngIf="isUpdate">Cập nhập</h2>
    </div>
    <div class="form">
        <form novalidate [formGroup]="form">
            <div>
                <div><label for="code">Code</label></div>
                <input class="input" id="code" type="text" pInputText formControlName="code" />
                <app-message-validator
                    [name]="'Code'"
                    [input]='control("code")'   
                ></app-message-validator>
            </div>
            <div>
                <div><label for="name">Tên sản phẩm</label></div>
                <input class="input" id="name" type="text" pInputText formControlName="name" />
                <app-message-validator
                    [name]="'Tên sản phẩm'"
                    [input]='control("name")'   
                ></app-message-validator>
            </div>
            <div>
                <div><label for="type">Loại mặt hàng</label></div>
                <p-dropdown 
                    formControlName="type"
                    [options]="types" 
                    optionLabel="type"
                    optionValue="id" 
                    [showClear]="true" 
                    placeholder="Chọn loại mặt hàng"></p-dropdown>
                <app-message-validator
                    [name]="'Loại mặt hàng'"
                    [input]='control("type")'   
                ></app-message-validator>
            </div>
            <div>
                <div><label for="category">Loại sản phẩm</label></div>
                <p-dropdown 
                    formControlName="category"
                    [options]="categories" 
                    optionLabel="category"
                    optionValue="id" 
                    [showClear]="true" 
                    placeholder="Chọn loại sản phẩm"></p-dropdown>
                <app-message-validator
                    [name]="'Loại sản phẩm'"
                    [input]='control("category")'   
                ></app-message-validator>
            </div>
            <div>
                <div><label for="color">Màu</label></div>
                <p-multiSelect 
                    [options]="colors"
                    formControlName="color" 
                    placeholder="Chọn màu" 
                    optionLabel="color"
                    optionValue="id" 
                    display="chip" 
                    [showClear]="true"
                >
                    <ng-template let-values pTemplate="selectedItems">
                        <div class="multi-input" *ngFor="let option of values">
                            <div><button 
                                    [style.border]="'0px'"
                                    [style.background]="option.color"
                                    [style.border-radius]="'0.2vw'"
                                >&nbsp;&nbsp;&nbsp;&nbsp;</button> {{ option.color }},&nbsp;</div>
                        </div>
                        <div *ngIf="!values || values.length === 0">Chọn màu</div>
                    </ng-template>
                    <ng-template let-value pTemplate="item">
                        <div class="multi-select-value">
                            <div>
                                <button 
                                    [style.border]="'0px'"
                                    [style.background]="value.color"
                                    [style.border-radius]="'0.2vw'"
                                >
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </button> {{ value.color }}</div>
                        </div>
                    </ng-template>
                </p-multiSelect>
                <app-message-validator
                    [name]="'Màu'"
                    [input]='control("color")'   
                ></app-message-validator>
            </div>
            <div>
                <div><label for="size">Kích cỡ</label></div>
                <p-multiSelect 
                class="input"
                [options]="sizes"
                formControlName="size" 
                placeholder="Chọn kích cỡ" 
                optionLabel="size"
                optionValue="id" 
                display="chip" 
                [showClear]="true"
                >
                </p-multiSelect>
                <app-message-validator
                    [name]="'Kích cỡ'"
                    [input]='control("size")'   
                ></app-message-validator>
            </div>
            <div>
                <div><label>Thành tiền</label></div>
                <div class="calculator">
                    <div>
                        <div><label for="price">Giá tiền</label></div>
                        <p-inputNumber #price formControlName="price" inputId="price" mode="decimal"> </p-inputNumber>
                        <app-message-validator
                            [name]="'Giá tiền'"
                            [input]='control("price")'   
                        ></app-message-validator>
                    </div>
                    <div>
                        <div><label for="discount">Giảm giá</label></div>
                        <p-inputNumber #discount formControlName="discount" inputId="discount" mode="decimal"  [min]="0" [max]="100"> </p-inputNumber>
                        <app-message-validator
                            [name]="'Giảm giá'"
                            [input]='control("discount")'   
                        ></app-message-validator>
                    </div>
                    <div>
                        <div class="label-calculator"><label for="">&nbsp;</label></div>
                        <div class="value-calculator">= {{Util.getPriceAfterDiscount(price.value, discount.value) | number:'1.0-0'}}đ</div>
                    </div>
                </div>
            </div>
            <div>
                <div><label for="count">Số lượng</label></div>
                <p-inputNumber formControlName="count" inputId="count" [min]="0" [max]="10000"> </p-inputNumber>
                <app-message-validator
                    [name]="'Số lượng'"
                    [input]='control("count")'   
                ></app-message-validator>
            </div>
            <div class="scope-btn">
                <p-button [label]="isUpdate ? 'Cập nhập' : 'Thêm mới'" 
                    severity="secondary" 
                    [disabled]="form.valid ? false : true"
                    (click)="isUpdate ? confirm.showConfirm() : ''"
                ></p-button>
            </div>
        </form>
    </div>
</div>

<app-confirm 
    #confirm
    key="confirm" 
    summary="Bạn chắc chắn thay đổi thông tin sản phẩm?"
></app-confirm>