<div class="main">
    <div class="sidebar">
        <div class="content-menu">
            <div class="menu">
                <span>
                    Thống kê
                </span>
            </div>
            <div class="menu">
                <span (click)="isShow = !isShow">Quản lý tài khoản</span>
                <ng-container 
                    *ngIf="isShow"
                    [ngTemplateOutlet]="submenu"
                    [ngTemplateOutletContext]="{submenu:['khách hàng', 'Nhân viên'],routerLink:['/admin/customers','/admin/employees']}"
                ></ng-container>
            </div>
            <div class="menu">
                <span 
                    [routerLink]="['/admin/products']" 
                    [routerLinkActive]="'active'"
                >
                    Quản lý sản phẩm
                </span>
            </div>
        </div>
        <div class="footer-sidebar content-menu">
            <div class="dropdown dropend center-line-title">
                <span class="" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="pi pi-cog" style="padding-right: 0.5rem;"></i> {{getName()}}
                </span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
                  <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                </ul>
              </div>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
<ng-template let-submenu="submenu" let-routerLink="routerLink" #submenu>
    <ng-container *ngFor="let menu of submenu, let i = index">
        <div class="submenu"><span [routerLinkActive]="'active'" [routerLink]="[routerLink[i]]">{{menu}}</span></div>
    </ng-container>
</ng-template>