<div class="main">
    <header>
        <div></div>
        <div>
            <a [routerLink]="['/user/home-page']">
                <img src="https://theme.hstatic.net/200000654527/1000998163/14/logo.png?v=313" alt="">
            </a>
        </div>
        <div>
            <a><i class="fas fa-search"></i></a>
            <a><i class="fas fa-user"></i></a>
            <a><i class="fas fa-shopping-cart" pBadge value="2"></i></a>
        </div>
    </header>
    <nav>
        <a [routerLink]="['/user/home-page']">Trang chủ</a>
        <a [routerLink]="['/user/products']">Sản phẩm</a>
        <a >Blog</a>
        <a >Giới thiệu</a>
        <a >Kiểm tra đơn hàng</a>
    </nav>
    <div role="body" class="body-user">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <div class="footer-1">
            <div>
                <div><img src="	https://theme.hstatic.net/200000654527/1000998163/14/hd_policy_icon_1.png?v=313" alt=""></div>
                <div>
                    <p>Miễn phí vận chuyển</p>
                    <p>Cho đơn hàng trên 500k</p>
                </div>
            </div>
            <div>
                <div><img src="https://theme.hstatic.net/200000654527/1000998163/14/hd_policy_icon_2.png?v=313" alt=""></div>
                <div>
                    <p>Hỗ trợ 24/7</p>
                    <p>Hotline: 0862.100.203</p>
                </div>
            </div>
            <div>
                <div><img src="	https://theme.hstatic.net/200000654527/1000998163/14/hd_policy_icon_3.png?v=313" alt=""></div>
                <div>
                    <p>Giờ làm việc</p>
                    <p>Thứ 2 - Thứ 6 (9h - 16h 30) & Thứ 7 (9h - 12h)</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-2">
            <div>
                <h4>Thông tin liên hệ</h4>
                <p><i class="fas fa-map-marker-alt"></i> Tân Bình, TP. Hồ Chí Minh.</p>
                <p><i class="fas fa-phone fa-flip-horizontal"></i> 0862.100.203</p>
                <p><i class="fas fa-envelope"></i> hotro@karants.vn</p>
            </div>
            <div>
                <h4>Chính sách</h4>
                <p>Tìm kiếm</p>
                <p>Giới thiệu</p>
                <p>Chính sách đổi trả</p>
                <p>Chính sách bảo mật</p>
                <p>Điều khoản dịch vụ</p>
                <p>Liên hệ</p>
            </div>
            <div>
                <h4>Sản phẩm</h4>
                <p>Áo Thun</p>
                <p>Áo Polo</p>
                <p>Quần</p>
                <p>BST Dragon</p>
            </div>
            <div>
                <h4>Đăng kí nhận tin</h4>
                <input type="text" pInputText /><p-button severity="secondary" label="Đăng kí"></p-button>
            </div>
        </div>
        <hr>
        <div class="footer-3">
            <div>Copyright © 2024 KARANTS. Powered by Haravan</div>
        </div>
    </footer>
</div>